*{
    list-style-type: none;
}
div.anliu{
    margin-top: 1em;
}
div.login-content{
    height: 200px;width: 324px;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
}